.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.current-time p {
  font-size: clamp(0.8rem, 3.5vw, 1.2rem) !important;
}

svg {
  width: 25px;
  height: 25px;
  margin: auto;
}

.App-body {
  background-color: #191e29;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  color: #000 !important;
  width: 100% !important;
  position: relative;
}

input[type="time"]:before {
    content: 'HH:mm ss';
    color: #9d9d9d;
    position: absolute;
    background: #fff;
    width: 100%;
}

input[type="time"]:focus:before {
  width: 0;
  content: '';
}

img {
  height: auto;
  border-radius: 10px;
  width: 80px !important;
}

.current-time img {
  margin: auto 0;
  border-radius: 4px;
  width: clamp(20px, 3vw, 40px) !important;
}

button {
  position: relative;
}

button::after {
  content: '';
  width: calc(100% + 100px);
  height: 1px;
  background-color: #4b556357;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
